/* search */
.search-box>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #d9d9d9;
    border-radius: 0.4rem;
    padding: 0.2rem;
  }
  
  .search-box select {
    outline: none;
    border: none;
    background: none;
    color: #5c5c5c;
  }
  
  .search-box input {
    padding: 0.4rem 0.5rem;
    width: calc(100% - 2rem);
    border: none;
    outline: none;
    background: none;
    color: #5c5c5c;
  }
  
  .search-box img {
    width: 2rem;
  }
  