#root {
  margin: 0 auto;
  padding: 0;

}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.warp {
  width: 100vw;
  height: 100svh;
}

.search-box {
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: #fff;
}

/* search */
.search-box>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #d9d9d9;
  border-radius: 0.4rem;
  padding: 0.2rem;
}

.search-box input {
  padding: 0.4rem 0.5rem;
  width: calc(100% - 2rem);
  border: none;
  outline: none;
}

.search-box img {
  width: 2rem;
}

/* list */
.music-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
  background-color: #fff;
}

.music-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  gap: 4rem;
  background-position: center;
  max-width: calc(50vw - 2rem);
  border-radius: 0.5rem;
}

.music-list-item img {
  position: absolute;
}

.music-list-item .time {
  width: 100%;
  text-align: right;
  color: #fff;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.308);
  width: 100%;
}

.music-list-item .title-box {
  background: rgba(0, 0, 0, 0.308);
  width: 100%;
  color: #fff;
  padding: 0.2rem 0.5rem;
}

.music-list-item .name {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.music-list-item .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.load-more{
  text-align: center;
  width: 100%;
  
}
.load-more span{
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: #9564ff;
  color: #fff;
  border-radius: 0.4rem;
}

/* controller */
.controller {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.controller span {
  display: block;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.controller span:not(.controller .active) {
  background-color: #9b64ff;
}

.controller .active {
  background-color: #822f40;
}

/* my-list */
.my-list {
  position: fixed;
  z-index: 90;
  background: #fff;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  transition: all 0.4s;
  height: 100vh;
  box-sizing: border-box;
  padding-bottom: 6rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.my-list-hide {
  transform: translateY(-100%);
}

.my-list>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-list>div img {
  width: 2rem;
  height: 2rem;
}

.category-box {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 0.2rem;
}

/* loading */
.loading-screen{
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen img{
  animation: loading-screen 3s infinite linear;
}

@keyframes loading-screen {
  0%{
    transform: rotate(0);
  }
  0%{
    transform: rotate(-360deg);
  }
}

.notice-layer{
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice-layer div{
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: #fff;
}