#root {
  margin: 0 auto;
  padding: 0;

}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.warp {
  width: 100vw;
  height: 100svh;
}

.search-box {
  padding: 1rem;

}

.search-box>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #d9d9d9;
  border-radius: 0.4rem;
  padding: 0.2rem;
}

.search-box input {
  padding: 0.4rem 0.5rem;
  width: calc(100% - 2rem);
  border: none;
  outline: none;
}

.search-box img {
  width: 2rem;
}
/* list */
.music-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
  background-color: #fff;
}

.music-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  gap: 4rem;
}

.music-list-item img {
  position: absolute;
}
.music-list-item .time{
  width: 100%;
  text-align: right;
  color: #fff;
  padding: 0.5rem;
}
.music-list-item .title{
  background: rgba(0, 0, 0, 0.308);
  width: 100%;
  color: #fff;
  padding: 0.2rem 0.5rem;
}
/* controller */
.controller {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.controller span {
  display: block;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.controller span:not(.controller .active) {
  background-color: #9b64ff;
}

.controller .active {
  background-color: #822f40;
}

/* my-list */
.my-list{
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  transition: all 0.6s;
}
.my-list-hide{
  transform: translateY(-100%);
}
.my-list>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.my-list>div img{
  width: 2rem;
  height: 2rem;
}